 body {
 	text-align: center;
 	background-image: url("https://wallpapers.com/images/high/teletubbies-background-nrgptz1oxis236or.webp");
 	background-attachment: fixed;
 	background-size: 1300px;
 }

 tbody{
 	text-align: center;
 }

 h1{
 	font-family: luckiest guy;
 }

 footer{
 	background-image: url("https://static.wikia.nocookie.net/theallever/images/c/c8/Fandom.png/revision/latest?cb=20201019071221");
 }

 h3{
 	color: white;
 }
